@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base { 
  input, textarea {
    @apply px-1 caret-pink-500 rounded-md border-2 border-gray-300 bg-transparent p-2 text-sm text-gray-100 focus:border-blue-500 focus:outline-none focus:ring-1 focus:ring-blue-500;
  }

  button {
    @apply cursor-pointer px-2 py-1 rounded-md bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-1 focus:ring-blue-500;
  }
}

@layer components {
  .client-radio {
    @apply w-[8em] flex flex-row gap-1 items-center justify-between;
  }
}